/* work at the end of code    */
@media screen and (min-width: 200px) and (max-width: 575px) {
  header {
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    gap: 10px;
  }
  .headerLeft {
    justify-content: center;
  }
  .searchBox button {
    padding: 10px;
  }
  .headerBtn {
    position: fixed;
    bottom: 0;
    justify-content: center;
    width: 100%;
    background-color: white;
  }
  .bannerSection {
    display: none;
  }
  .orderBanner {
    flex-direction: column;
    padding: 5px;
  }
  .categoryItem {
    flex-basis: 20%;
  }
}

/* @media screen and (min-width: 576px) and (max-width: 991px) { 
} */
